<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoang.hoabanfood1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hoabanfood"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name=".Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.Cart" />
        <activity android:name=".Activity.ViewSP" />
        <activity android:name=".Activity.ChiTietSP" />
        <activity android:name=".Activity.Dsdonhang" />
        <activity android:name=".Activity.ThongtinKH" />
        <activity android:name=".Activity.Chitietdonhang" />
        <activity android:name=".Activity.LoaiSP" />
        <activity android:name=".Activity.Adress" />
        <activity android:name=".Activity.GioiThieuActivity" />
        <activity android:name=".Activity.ThanhToanActivity" />
        <activity android:name=".Activity.ListVideoActivity"></activity>
        <activity android:name=".Activity.VideosActivity" />
        <activity android:name=".Activity.Tam"></activity>
    </application>

</manifest>